@basemap-pill-color: #fff;
@basemap-pill-hover: @gray-darker;
@basemap-pill-active: inherit;
@basemap-inverse-pill-color: @gray-darker;
@basemap-inverse-pill-active: inherit;

.basemap-pills {
  padding-left: 10px;
  .map-footer-tool;
}

.basemap-pills.nav > li > a {
  padding: 5px 10px;
}

.basemap-pills.nav-pills > li > a {
  color: @basemap-pill-color;
}

.basemap-pills.nav-pills > li > a:hover {
  color: @basemap-pill-hover;
}

.basemap-pills.nav-pills > li.active > a {
  color: @basemap-pill-active;
}

.basemap-pills.nav-pills.inverse > li > a {
  color: @basemap-inverse-pill-color;
}

.basemap-pills.nav-pills.inverse > li.active > a {
  color: @basemap-inverse-pill-active;
}

.hierarchy-filter > .form-group {
  margin-bottom: 5px;
}

@map-footer-bottom: 0;
@map-header-color: white;

.esriSimpleSliderTL {
  top: 46px;
}

.map-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  padding: 8px 35px 8px 14px;
  //color: @map-header-color;
  //text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.map-footer {
  position: absolute;
  bottom: @map-footer-bottom;
  padding-left: 10px;
  padding-bottom: 10px;
  color: @gray-dark;
}

.map-footer-tool {
  float: left !important;
}
