<form class="feature-selector" ng-class="layout==='horizontal'? 'form-inline' : 'form'" role="form">

  <div class="form-group" ng-show="selectableLayers.length > 1">
    <select class="form-control"
            ng-model="selectedLayer"
            ng-options="layer as layer.name for layer in selectableLayers"
            ng-change="onLayerChange(layer)">
      <option value="">Select Service</option>
    </select>
  </div>

  <div class="form-group" ng-show="selectableSubLayers.length">
    <select class="form-control"
            ng-model="selectedSubLayer"
            ng-options="sublayer as sublayer.name for sublayer in selectableSubLayers">
      <option value="">Select Layer</option>
    </select>
  </div>

  <div class="form-group" ng-if="buttonStyle==='dropdown'">
    <div class="btn-group btn-block" dropdown>
      <button class="btn btn-default dropdown-toggle"
              type="button"
              id="dropdownMenu1"
              dropdown-toggle
              ng-disabled="selectedSubLayer===null">
        <span class="{{selectedTool.icon}}"></span>
        {{selectedTool.title}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat-start="tool in toolset">
          <a href="" class="active" ng-click="enableSelectionState(tool)">
            <span class="{{tool.icon}}"></span> {{tool.title}}
          </a>
        </li>
        <li ng-repeat-end class="divider"></li>
      </ul>
    </div>
  </div>

  <div class="form-group" ng-if="buttonStyle!=='dropdown'">
    <button class="btn"
            ng-repeat="tool in toolset"
            ng-class="selectionState==='{{tool.state}}'? 'btn-success' : 'btn-default'"
            ng-click="enableSelectionState(tool)"
            ng-disabled="!selectedLayer.id">
      <span class="{{tool.icon}}"></span>
      {{tool.title}}
    </button>
  </div>

  <div class="form-group" ng-show="selectionEnabled">
    <button class="btn"
            class="btn btn-default"
            ng-click="deactivateSelection()"
            tooltip="Deactivate Selection Tool">
      <span class="glyphicon glyphicon-ban-circle"></span>
    </button>
  </div>

  <div class="form-group" ng-transclude></div>

</form>
