<form role="form" class="hierarchy-filter">
  <div ng-repeat="item in networkLayer.hierarchyFilter" class="form-group loading-inline-spinner"
       ng-class="{loading: item.loading}">
    <select class="form-control input-sm"
            ng-model="item.value"
            ng-change="itemChange($index)"
            ng-disabled="loading || !item.features.length"
            ng-options="feature.attributes[item.networkLayerIdFieldName] as feature.attributes[item.displayFieldName] for feature in item.features">
      <option value="" disabled selected>Select a {{item.label}}</option>
    </select>
  </div>

  <div class="btn-toolbar">
    <button class="btn btn-default" ng-click="clear()"><i class="glyphicon glyphicon-remove"></i> Clear</button>
    <button class="btn btn-primary" ng-click="apply()"><i class="glyphicon glyphicon-ok"></i> Apply Filter</button>
  </div>
</form>
