<ul class="nav nav-pills basemap-pills"
    ng-class="{inverse:$basemap=='topo' || $basemap=='gray' || $basemap=='streets' || $basemap=='osm'}">

    <li ng-class="{active:$basemap==base}" ng-repeat="base in basemaps">
        <a href="" ng-click="setBasemap(base)">{{base | pretty}}</a>
    </li>
</ul>